mcp>=1.0.0
google-cloud-bigquery
google-cloud-storage
google-cloud-run
google-cloud-artifact-registry
google-cloud-logging
python-dotenv
google-cloud-monitoring
google-cloud-compute
google-cloud-build
